.s-width-large {
    width: 180px;
}
.inline {
    display: inline;
}
.l-width-large {
    width: 260px;
}
.block {
    display: block;
}
.i-block {
    display: inline-block;
}
.m-font {
    font-weight: blod
}
.link {
    color: #0000FF;
}
.img-middle {
    width: 16px;
    height: 16px;
    vertical-align: middle
}
.center {
    text-align: center
}
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}
.pointer {
  cursor: pointer
}
.cursor {
    cursor:pointer;
}
.svg-icon {
    width: 2em !important;
    height: 2em !important;
    vertical-align: middle !important;
}
.orange{
    color:#f93;
    font-weight: bold;
}
@-webkit-keyframes slideInDown {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    25% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    50% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    75% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  
  @keyframes slideInDown {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    25% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }
    50% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    75% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  @keyframes slideInDown1 {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    25% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
    50% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    75% {
      -webkit-transform: translateY(15px);
      transform: translateY(15px);
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  
  .slideInDown1 {
    -webkit-animation-name: slideInDown 1s infinite;
    animation: slideInDown 1s linear infinite;
    animation-delay: 0.1s;
     display: inline-block;
     font-weight: bold;
  }
  .slideInDown2 {
    -webkit-animation-name: slideInDown 1s infinite;
    animation: slideInDown 1s linear infinite;
    animation-delay: 0.35s;
     display: inline-block;
     font-weight: bold;
  }
  .slideInDown3 {
    -webkit-animation-name: slideInDown1 1s infinite;
    animation: slideInDown 1s linear infinite;
    animation-delay: 0.6s;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
  }
//webkit内核滚动条样式美化
::-webkit-scrollbar {
    height: 8px;
    width: 5px
  }
  
  ::-w
  ::-webkit-scrollbar-button {
    height: 0;
    width: 0
  }
  
  ::-webkit-scrollbar-button:start:decrement,
  ::-webkit-scrollbar-button:end:increment {
    display: block
  }
  
  ::-webkit-scrollbar-button:vertical:start:increment,
  ::-webkit-scrollbar-button:vertical:end:decrement {
    display: none
  }
  
  ::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal,
  ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal,
  ::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal,
  ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    border-style: solid;
    border-color: transparent
  }
  
  ::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal {
    background-clip: padding-box;
    background-color: #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, .2);
    min-height: 28px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
    background-color: rgba(0, 0, 0, .4)
  }
  
  ::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35);
    background-color: rgba(0, 0, 0, .5)
  }
  
  ::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal,
  ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    border-width: 0;
  }
  
  ::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
    background-color: rgba(0, 0, 0, .05)
  }
  
  ::-webkit-scrollbar-track:active {
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07);
    background-color: rgba(0, 0, 0, .05)
  }